<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item"><a href="https://www.github.com/da-ssl/Leberkasrechner" class="link-secondary">GitHub</a></li>
            <li class="list-inline-item"><a href="./license.html" class="link-secondary">Kartendaten: &copy; OpenStreetMap-Mitwirkende</a></li>
        </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
            Copyright &copy; 2022 <a href="https://leberkasrechner.de/" class="link-secondary">Leberkasrechner</a>.
            Alle Rechte vorbehalten.
            </li>
        </ul>
        </div>
    </div>
    </div>
</footer>